<?xml version="1.0" encoding="utf-8"?>
<!--
  Azure App Service configuration for Node.js
  This file is used by IIS/IISNode to run the Node.js application
-->
<configuration>
  <system.webServer>
    <handlers>
      <add name="iisnode" path="server/index.js" verb="*" modules="iisnode"/>
    </handlers>
    <rewrite>
      <rules>
        <!-- Don't interfere with requests for node inspector debugging -->
        <rule name="NodeInspector" patternSyntax="ECMAScript" stopProcessing="true">
          <match url="^server/index.js\/debug[\/]?" />
        </rule>
        <!-- All requests go through the Node.js server -->
        <rule name="DynamicContent">
          <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="True"/>
          </conditions>
          <action type="Rewrite" url="server/index.js"/>
        </rule>
      </rules>
    </rewrite>
    <security>
      <requestFiltering>
        <hiddenSegments>
          <remove segment="bin"/>
        </hiddenSegments>
      </requestFiltering>
    </security>
    <httpErrors existingResponse="PassThrough" />
    <iisnode 
      watchedFiles="web.config;*.js"
      nodeProcessCommandLine="node --experimental-vm-modules"
      loggingEnabled="true"
      logDirectory="iisnode"
    />
  </system.webServer>
</configuration>
